/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.App {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.menu{
  position:fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 270px;
  overflow-y: scroll;
  height: 100vh;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.display{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 270px;
  overflow-y: auto;
  padding: 10px 10px 10px 10px;
  flex: 1;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 10px;
}

.custom_container{
  padding-left: 15px;
  padding-right:15px;
}

.center{
  text-align: center;
}

.right{
  float: right;
  padding-top: 7px;
}

.card-padding{
  padding-top: 5px;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-block{
  width: 100%;
}

.error{
  font-size:medium;

  color: rgb(203, 2, 2);
}

.danger{
  color: rgb(203, 2, 2);
}

.success{
  color: rgb(3, 103, 10);
}

.orange{
  color: #d87a05d2;
}

.border_none{
  border: none;
}

.innerDiv {
  display: table;
  margin: 0 auto;
}

#contenedor_carga{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#carga{
  border: 5px solid #ccc;
  border-top-color: #EF5350; /*COLOR DE CARGA*/
  border-top-style: solid;
  height: 120px;
  width: 120px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;

}

@keyframes girar {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.app{
  margin: 0 auto;
  margin-top: 3%;
  padding-top: 40px;
  background-color: #e7e7e7;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.logo{
  width: 200px;
  margin-top: -30px;
  margin-bottom: 20px;
  text-align: left;
}

.title{
  margin-bottom: 30px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bold{
  font-weight: bold;
}

.error2{
  font-size:16px;
  color: #DC3545;
}

@page {
  size: 80mm 120mm;
  margin: 0;
  
}

@media print {
  body, html {
      width: 100% !important;
      background-color: white;
      color: #000;
  }
  .print-preview {
      width: 100%;
      height: 29.7cm;
      margin: 0;
      border: 5px solid #000;
  }
}

/* tr th{
  text-align: right;
  padding-left: 5px;
}

tr td{
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
} */

.container-custom{
  margin: 0 auto;
  width: 70%;
  padding: 0px 10px 0px 10px;
  /* border: black solid 1px; */
}

/* .col-md-7 {
  font-weight: 300;
  display: inline-block;
  padding-right: 50px;
  position: relative;
} */

/* .col-md-7:before{
  content: "";
  position: absolute;
  width: 1px;
  height: 95%;
  right: 0;
  right: 0%;
} */

@media only screen and (min-width: 600px) {
  .container-custom{
    width: 100%;
  }
  /* .col-md-7{
    border-right: #496939 2px solid;
  } */
}

@media only screen and (max-width: 768px) {
  .container-custom{
    width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .container-custom{
    width: 95%;
  }
}

@media only screen and (min-width: 1024px) {
  .container-custom{
    width: 80%;
  }
}

@media only screen and (min-width: 1366px) {
  .container-custom{
    width: 70%;
  }
}


.paso1{
  display: flex;
  align-items: center;
}

#file{
  width: 350px;
}

#numeroDocumento{
  width: 200px;
  margin-right: 10px;
}

#btnSearch{
  margin-right: 10px;
}

.col-md-4{
  /* border: blue solid 1px; */
}

.body{
  /* border: green solid 1px; */
}

.ticket{
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

.container-ticket{
  border: #157347 2px dashed;
}

